<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="The Wall Assignemnt">
	<title>The Wall</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>

	<div class="header">

	<h1>CodingDojo Wall</h1>

	</div>


	<div class="wrapper">

		<form action="/addMessage" method="post">
			<label>Post a message</label>
			<input type="text" name="post_comment">
			<button type="submit">Post a message</button>

		</form>



	</div>



</body>
</html>