<!DOCTYPE html>
<html>
<head>
	<title>Guessing Number</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
	

</head>
<body>

	<h2>Welcome to the Great Number Game!</h2>
	<p>I am thinking of a number between 1 and 100</p>
	<p>Take a guess!</p>
	
	
	<div class="{{session['guess']}}">
			<h3>{{session['txt']}}</h3>
	</div>
	
	

	

	<form action="/guess" method="post">
		<input type="number" name="number">
		<input type="submit" class="btnsubmit" name="submit">

	</form>


</body>
</html>