<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
	{% load staticfiles%}
	<link rel="stylesheet" type="text/css" href="{% static 'courses_app/styles.css' %}">
</head>
<body>
	<h3>Add a new course</h3>
	<form action="/success" method="post">
		{% csrf_token %}
		<p>Name:</p><input type="text" name="course_name">
		<p>Description:</p><input type="text" name="course_desc">
		<button type="submit">Add</button>

	</form>

	<h3>Courses</h3>
	<table border="1">
		<thead>
			<th>Course Name</th>
			<th>Description</th>
			<th>Date Added</th>
			<th>Actions</th>
		</thead>
		{% for element in course %}
			<tr>
				<td>{{element.course_name}}</td>
				<td>{{element.course_desc}}</td>
				<td>{{element.created_at}}</td>
				<td><a href="/remove/{{element.id}}">Remove</a></td>
			</tr>
		{% endfor%}




	</table>





</body>
</html>
